@page "/ingredientes"
@using AppWeb.Models
@inject IngredientesDAO ingredientesDAO;

<PageTitle>Ingredientes</PageTitle>

<h1 class="text-xl font-semibold text-gray-800 dark:text-gray-100 mb-6">Ingredientes</h1>

<a href="/ingredientes/novo" class="btn-ingredientes-cadastrar">
    Cadastrar Ingredientes
</a>

<div class="tabela-ingredientes">

    @if (listarIngrediente != null && listarIngrediente.Any())
    {
        <div class="ingrediente-header">
            <div>ID</div>
            <div>NOME</div>
            <div>DESCRICAO</div>
            <div>QUANTIDADE</div>
            <div style="grid-column: span 2; text-align: center;">AÇÕES</div>
        </div>

        @foreach (var ingrediente in listarIngrediente)
        {
            <div class="ingrediente-item">
                <span class="ingrediente-id">@ingrediente.Id</span>
                <span class="ingrediente-cell">@ingrediente.Nome</span>
                <span class="ingrediente-cell">@ingrediente.Descricao</span>
                <span class="ingrediente-cell" style="text-align: center;">@ingrediente.Quantidade</span>

                <a href="/ingredientes/@ingrediente.Id/editar" title="Atualizar">
                    <button class="btn-acao btn-editar"><i class="fas fa-pencil-alt"></i></button>
                </a>
                <a href="/ingredientes/@ingrediente.Id/excluir" title="Excluir">
                    <button class="btn-acao btn-excluir"><i class="fas fa-trash-alt"></i></button>
                </a>
            </div>
        }
    }
    else
    {
        <p>Carregando ingredientes ou a lista está vazia...</p>
    }
</div>


@code {
    private List<Ingredientes> listarIngrediente = new();

    protected override void OnInitialized()
    {
        CarregarDados();
    }

    private void CarregarDados()
    {
        listarIngrediente = ingredientesDAO.listarTodos();
    }
}