@page "/ingredientes"
@using AppWeb.Models
@inject IngredientesDAO ingredientesDAO;

<PageTitle>Ingredientes</PageTitle>

<div class="container-principal-ingredientes">

    <h1 class="header-pagina">
        <h1>Ingredientes</h1>
    </h1>

    <div class="tabela-ingredientes">

        @if (listarIngrediente != null && listarIngrediente.Any())
        {
            <div class="ingrediente-header">
                <div>ID</div>
                <div>NOME</div>
                <div>DESCRICAO</div>
                <div>QUANTIDADE</div>
                <div style="grid-column: span 2; text-align: center;">AÇÕES</div>
            </div>

            @foreach (var ingrediente in listarIngrediente)
            {
                <div class="ingrediente-item">
                    <span class="ingrediente-id">@ingrediente.Id</span>
                    <span class="ingrediente-cell">@ingrediente.Nome</span>
                    <span class="ingrediente-cell">@ingrediente.Descricao</span>
                    <span class="ingrediente-cell" style="text-align: center;">@ingrediente.Quantidade</span>

                    <a href="/ingredientes/@ingrediente.Id/editar" title="Atualizar">
                        <button class="btn-acao-escuro"><i class="fas fa-pencil-alt"></i></button>
                    </a>

                    <a href="/ingredientes/@ingrediente.Id/excluir" title="Excluir">
                        <button class="btn-excluir-escuro"><i class="fas fa-trash-alt"></i></button>
                    </a>
                </div>
            }
        }
        else
        {
            <p style="text-align: center; color: var(--cor-primaria);">Não há ingredientes cadastrados.</p>
        }
    </div>

    <a href="/ingredientes/novo" class="btn-adicionar-ingrediente">
        Cadastrar Ingredientes
    </a>

</div>


@code {
    private List<Ingredientes> listarIngrediente = new();

    protected override void OnInitialized()
    {
        CarregarDados();
    }

    private void CarregarDados()
    {
        listarIngrediente = ingredientesDAO.listarTodos();
    }
}