@page "/recebimento/novo"
@rendermode InteractiveServer

@using AppWeb.Models
@inject RecebimentoDAO recebimentoDAO
@inject NavigationManager Navigation

<PageTitle>Recebimento - Novo</PageTitle>

<h1 class="text-xl font-semibold text-gray-800 dark:text-gray-100 mb-6">Novo Recebimento</h1>

@if (erro != null)
{
    <div class="alert alert-danger">@erro</div>
}

<div class="row">
    <div class="col">
        <EditForm Model="_novoRecebimento" OnSubmit="Salvar">

            <div class="form-group mb-4">
                <label>Pedido</label>
                <input @bind-value="_novoRecebimento.Pedido" type="text" class="form-control" />
            </div>

            <div class="form-group mb-4">
                <label>Valor</label>
                <input @bind-value="_novoRecebimento.Valor" type="number" class="form-control" />
            </div>

            <div class="form-group mb-4">
                <label>Forma de Pagamento</label>
                <input @bind-value="_novoRecebimento.FormaPagamentoRec" type="text" class="form-control" />
            </div>

            <div class="form-group mb-4">
                <label>Comprovante</label>
                <input @bind-value="_novoRecebimento.Comprovante" type="text" class="form-control" />
            </div>

            <!-- AQUI ENTRA O SELECT DO CLIENTE -->
            <div class="filtro-recebimento">
                <label for="cliente" class="label-recebimento">Selecionar cliente:</label>

                <select id="cliente" class="combo-cargo" @bind="_novoRecebimento.ClienteRec">
                    <option value="" disabled selected>Todos os Clientes</option>

                    @foreach (var c in ListaClientes)
                    {
                        <option value="@c">@c</option>
                    }
                </select>
            </div>

            <button type="submit" class="btn btn-primary mt-3">Salvar</button>

        </EditForm>
    </div>
</div>

@code {
    private string? erro = null;
    private Recebimento _novoRecebimento = new();

    // LISTA DE CLIENTES (você pode substituir pelo DAO depois)
    List<string> ListaClientes = new()
    {
        "João",
        "Maria",
        "Pedro",
        "Ana"
    };

    private void Salvar()
    {
        try
        {
            if (string.IsNullOrWhiteSpace(_novoRecebimento.Pedido))
                throw new Exception("O campo nome é obrigatório");

            recebimentoDAO.Inserir(_novoRecebimento);
            Navigation.NavigateTo("/recebimentos");
        }
        catch (Exception ex)
        {
            erro = ex.Message;
        }
    }
}
