.btn-primary {
    background-color: #7B542F;
    border-color: #7B542F;
}

    .btn-primary:hover {
        background-color: #5c3a1a;
        border-color: #5c3a1a;
    }
/*MAZZIE - PRODUTOS*/

/*MAZZIE - FIM*/

/*MAX - FUNCIONÁRIO*/

/*MAX - FIM*/

/*MAX - PEDIDO*/

/*MAX - FIM*/