@page "/"

<PageTitle>Home</PageTitle>

<h1 class="text-xl font-semibold text-gray-800 dark:text-gray-100 mb-6">Acesso Rápido</h1>
<div class="grid grid-cols-2 md:grid-cols-4 gap-6">
    <a href="/produtos/novo"
       class="flex flex-col items-center justify-center p-6 bg-white dark:bg-gray-800 shadow rounded-2xl hover:bg-brown-50 dark:hover:bg-brown-900 transition">
        <img src="/imagens/produto.png" alt="Produtos" class="h-10 w-10 mb-3">
        <span class="font-medium">Produtos</span>
    </a>

    <a href="#"
       class="flex flex-col items-center justify-center p-6 bg-white dark:bg-gray-800 shadow rounded-2xl hover:bg-brown-50 dark:hover:bg-brown-900 transition">
        <img src="/imagens/ingredientes.png" alt="Produtos" class="h-10 w-10 mb-3">
        <span class="font-medium">Ingredientes</span>
    </a>

    <a href="#"
       class="flex flex-col items-center justify-center p-6 bg-white dark:bg-gray-800 shadow rounded-2xl hover:bg-brown-50 dark:hover:bg-brown-900 transition">
        <img src="/imagens/cliente.png" alt="Produtos" class="h-10 w-10 mb-3">
        <span class="font-medium">cliente</span>
    </a>

    <a href="#"
       class="flex flex-col items-center justify-center p-6 bg-white dark:bg-gray-800 shadow rounded-2xl hover:bg-brown-50 dark:hover:bg-brown-900 transition">
        <img src="/imagens/pedidos.png" alt="Produtos" class="h-10 w-10 mb-3">
        <span class="font-medium">Pedidos</span>
    </a>


    <a href="#"
       class="flex flex-col items-center justify-center p-6 bg-white dark:bg-gray-800 shadow rounded-2xl hover:bg-brown-50 dark:hover:bg-brown-900 transition">
        <img src="/imagens/lucro.png" alt="Produtos" class="h-10 w-10 mb-3">
        <span class="font-medium">Lucro</span>
    </a>


</div>